html,
body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.overlay {
    border: solid 1px white;
    position: absolute;
    font-size: 50px;
    color: white;
    z-index: 100;
    width: 0;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    animation: type 4s;
}

a {
    color: white !important;
}

.clr {
    color: white !important;
}

#o1 {
    top: 15%;
    left: 10%;
}

#o2 {
    font-size: 20px;
    top: 23%;
    left: 34%;
}

@keyframes type {
    from {
        width: 0em;
    }

    to {
        width: 12em;
    }
}